<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>QuoteApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>JosefinSans-Bold.ttf</string>
		<string>JosefinSans-Light.ttf</string>
		<string>JosefinSans-Medium.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Aclonica-Regular.ttf</string>
		<string>Arimo[wght].ttf</string>
		<string>Calligraffitti-Regular.ttf</string>
		<string>CherryCreamSoda-Regular.ttf</string>
		<string>Chewy-Regular.ttf</string>
		<string>ComingSoon-Regular.ttf</string>
		<string>Cousine-Regular.ttf</string>
		<string>CraftyGirls-Regular.ttf</string>
		<string>CreepsterCaps-Regular.ttf</string>
		<string>Crushed-Regular.ttf</string>
		<string>FontdinerSwanky-Regular.ttf</string>
		<string>HomemadeApple-Regular.ttf</string>
		<string>IrishGrover-Regular.ttf</string>
		<string>JustAnotherHand-Regular.ttf</string>
		<string>Kosugi-Regular.ttf</string>
		<string>KosugiMaru-Regular.ttf</string>
		<string>Kranky-Regular.ttf</string>
		<string>LuckiestGuy-Regular.ttf</string>
		<string>MaidenOrange-Regular.ttf</string>
		<string>Montez-Regular.ttf</string>
		<string>MountainsofChristmas-Bold.ttf</string>
		<string>OpenSansHebrew-Regular.ttf</string>
		<string>OpenSansHebrewCondensed-Italic.ttf</string>
		<string>PermanentMarker-Regular.ttf</string>
		<string>Rancho-Regular.ttf</string>
		<string>Redressed-Regular.ttf</string>
		<string>RobotoMono[wght].ttf</string>
		<string>RobotoSlab[wght].ttf</string>
		<string>Roboto[wdth,wght].ttf</string>
		<string>Rochester-Regular.ttf</string>
		<string>RockSalt-Regular.ttf</string>
		<string>Satisfy-Regular.ttf</string>
		<string>Schoolbell-Regular.ttf</string>
		<string>Slackey-Regular.ttf</string>
		<string>Smokum-Regular.ttf</string>
		<string>SpecialElite-Regular.ttf</string>
		<string>Sunshiney-Regular.ttf</string>
		<string>Syncopate-Bold.ttf</string>
		<string>Ultra-Regular.ttf</string>
		<string>Unkempt-Regular.ttf</string>
		<string>WalterTurncoat-Regular.ttf</string>
		<string>Yellowtail-Regular.ttf</string>
		<string>Sunset-Italic.ttf</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App would like access to your photo gallery</string>
</dict>
</plist>
